#heading {
    color: red;
}

/*  display: flex; -> horizontal  */
.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
}

/* reduce the pic size */
.logo {
    width: 110px;
}
/* paddding left right movement */
.nav-items {
    padding: 0px 30px;
}

/*  */
.nav-items>ul {
    font-size: 20px;
    display: flex;
    list-style-type: none;
    
}
/* padding space inbetween items horizantally */
.nav-items>ul>li {
    padding: 5px;
    margin: 0px;
}

.search{
    padding: 20px;
}

.rest-card-logo{
    width: 175px;
    border-radius: 7%;
}

/* background oof the rest card */
.rest-card{
    background-color: rgba(245, 245, 245, 0.788);
    padding: 10px;
    width : 175px;
    height: 400px;
}
/* hover with  mouse icone and highlight with black border*/
.rest-card:hover{
    cursor: pointer;
    border: 2px solid black;
}

.rest-card-holders {
    display: flex;
    flex-wrap: wrap;
    width: auto;
    
}

.top-rated-butn {
    margin : 20px;
    cursor: pointer;
}


